RewriteEngine on
# Allow the API to function as a Front Controller

RewriteCond %{HTTP_HOST} localhost [NC]
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^(.*)$ /Testus/$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/? /php-example-project/index.php/$1 [L,QSA,NC]

Options +Multiviews